body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

main {
    max-width: 600px;
}

.bookmark {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

.bookmark a {
    font-weight: bold;
    color: rgb(136, 136, 218);
    text-decoration: none;
}